h1{
  font-family: sans-serif
}

p {
  font-family: sans-serif;
}

ol {
  font-family:sans-serif;
}

button{
  background-color:rgba(240, 255, 255, 0.67);
  font-family: sans-serif;
  border: blackl;
}


